
.links:hover {
    color: #eeeeee;
    background-color: #222831;
}

.links {
    display: block;
    text-decoration: none;
    color: #393e46;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box;

    background-color: #eeeeee;
    border: 3px solid #00adb5;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px;
}

footer {
    color: #eeeeee;
    font-family: helvetica;
    text-align: center;
    margin-top: 10%;
    font-size: 1rem;
}
