
div {
    padding: 10px;
}

a {
    display: block  ;
    text-decoration: none;
    color: #393e46;
    font-size: 2rem;
    text-align: center;
}

a:hover {
    color: #00adb5;
}

#linkedin {
    margin-top: 1%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;

    border: 2px solid #00adb5;
    border-radius: 5px
}

#linkedin:hover {
    background-color: #222831;
    border: #eeeeee solid 2px;
}

#instagram {
    position: relative;
    margin-top: 1%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;

    border: 2px solid #00adb5;
    border-radius: 5px;
}

#instagram:hover {
    background-color: #222831;
    border: #eeeeee solid 2px;
}

#github {
    position: relative;
    margin-top: 1%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;

    border: 2px solid #00adb5;
    border-radius: 5px;
}

#github:hover {
    background-color: #222831;
    border: #eeeeee solid 2px;
}
